body {
    transition: background-color 1s ease;

}

.banner {
    width: 50vh;
    height: 50vh;
}

.item {
    display: none;
    width: 80%;
    height: 50%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--background 1s ease);

    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
}

.item.active {
    display: block;
}

.item .title {
    font-size: 12rem;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;

    position: absolute;
    left: 50%;
    top: -10%;
    transform: translate(-50%);
}

.item .folhas {
    width: 500px;
    position: absolute;
    top: 0;
    z-index: 3;

    position: absolute;
    left: 50%;
    top: 33%;
    transform: translate(-50%, -10%);
}

.item .prato {
    z-index: 2;
    width: 300px;

    position: absolute;
    left: 85%;
    top: 80%;
    transform: translate(-50%, -80%);
}

.item .folhascoco {
    z-index: 2;
    width: 400px;

    position: absolute;
    right: -9%;
    top: -65%;
    transform: translate(-50%, 50%);
}


#prev,
#next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: #eee9;
    border: 1px solid #eee9;
    color: #eee;
    font-size: x-large;
    font-family: monospace;
    cursor: pointer;
    z-index: 4;
    border-radius: 50%;
    position: fixed;
}

#prev {
    left: 30px;
}

#next {
    right: 30px;
}

@keyframes toActive {
    from {
        top: 1000%;
        opacity: 0;
    }
}

.item.active img.prato {
    animation: toActive 0.5s ease-in-out 1;
}

.item.active .title {
    animation: toActive 0.5s ease-in-out 1;
}

.body {
    animation: toActive 0.5s ease-in-out 1;
}

.item.active .text {


    font-size: 1.5rem;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;



    position: absolute;
    left: 35%;
    top: 100%;
    transform: translate(-50%);
    animation: toActive 1s ease-in-out 1;
}

.item.active p {
    width: 150%;
    height: 50%;
}