body {
    background-color: rgb(255, 145, 0);

}

.barraMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;

}

.barraMenu button {
    cursor: pointer;
    font-size: 1.5rem;
    background-color: burlywood;
}

img {
    width: 30%;
}

.banner {
    display: flex;
    flex-direction: row;
    font-size: 2.3rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    align-items: center;
    gap: 50px;
    border: 10px solid rgb(104, 140, 141);
    padding: 20px;
    background-color: cadetblue;
}

.paginas {
    color: #fff;
    text-align: center;
    gap: 50px;
    padding: 20px;
    font-size: 2.3rem;
}

.paginas button {
    font-size: 2.3rem;
    background-color: burlywood;
    border-radius: 10px;
}