body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.barraMenu {
    display: flex;
    justify-content: center;
    align-items: self-start;
    gap: 20px;



}

.barraMenu button {

    cursor: pointer;
    font-size: 1.5rem;
    background-color: burlywood;
}



.banner {
    text-align: center;
    align-items: center;
    width: 736px;
    height: 245px;
    border: 5px solid gold;


}

.banner img {
    text-align: center;
    align-items: center;
    width: 100%;

}

.banner h1 {

    font-size: 4.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 5px palegreen;
}

#Sortear {

    cursor: pointer;
    font-size: 1.5rem;
    background-color: burlywood;
}

.sorteado img {
    width: 200px;
}

.inputText {
    display: none;
}


#inputText input {
    border: 3px solid gold;
    width: 696px;
    height: 5px;
    padding: 20px;
    font-size: 2.7rem;

}