body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.barraMenu {
    display: flex;
    justify-content: center;
    align-items: self-start;
    gap: 20px;



}

.barraMenu button {

    cursor: pointer;
    font-size: 1.5rem;
    background-color: burlywood;
}



.banner {
    text-align: center;
    align-items: center;
    width: 736px;
    height: 245px;
    border: 5px solid gold;


}

.banner img {
    text-align: center;
    align-items: center;
    width: 100%;

}

.banner h1 {

    font-size: 4.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 5px palegreen;
}

#Sortear {

    cursor: pointer;
    font-size: 1.5rem;
    background-color: burlywood;
}

.sorteado img {
    width: 300px;
}

#inputText {
    display: none;

}


#input1 {
    border: 3px solid gold;
    width: 696px;
    height: 20px;
    padding: 20px;
    font-size: 2.7rem;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;

}

#Confirmar {
    background-color: rgb(53, 255, 88);
    cursor: pointer;
    border: 3px solid gold;
    padding: 10px;
    font-size: 2.2rem;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

#Confirmar:hover {
    background-color: rgb(53, 25, 88);
    transform: scale(1.5);

}

#sugestao {
    background-color: burlywood;
    padding-left: 0px;

}

.completar {
    max-height: 200px;
    overflow-y: auto;
}

.sugesta li {
    list-style: none;
    border: 2px solid seagreen;
    font-size: 2rem;
    padding: 5px 10px;
    padding-left: 20px;
    cursor: pointer;

}

.sugesta li:hover {
    padding: 10px;
    font-size: 3rem;
    padding-left: 20px;
    cursor: pointer;

}


#historico {
    z-index: 5;
    width: 918px;




}

#titulo img {
    border: 2px solid gold;
}

#titulo p {
    border: 2px solid gold;
}

#titulo {
    display: none;
}